<% /* %>
Jose Uribe
Centennial College
juribeco@my.centennialcollege.ca
301236090
COMP229
June 2022
<% */ %>

<nav class="navbar navbar-expand-lg navbar-light bg-ligh">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/public/Assets/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
  </nav>
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Jose Uribe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if (title == "Home"){ %>
            <li class="nav-item active">
            <% } else  { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" aria-current="page" href="/home"><i class="fas fa-house-user"></i> Home</a>
          </li>


          <% if (title == "About me"){ %>
            <li class="nav-item active">
            <% } else  { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link " aria-current="page" href="/aboutme"><i class="fas fa-dizzy"></i> About Me</a>
          </li>


         <% if (title == "Projects"){ %>
            <li class="nav-item active">
            <% } else  { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link " aria-current="page" href="/projects"><i class="fas fa-briefcase"></i> Projects</a>
          </li>

          <% if (title == "Services"){ %>
            <li class="nav-item active">
            <% } else  { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link " aria-current="page" href="/services"><i class="fas fa-atom"></i> Services</a>
          </li>

          <% if (title == "Contact"){ %>
            <li class="nav-item active">
            <% } else  { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link " aria-current="page" href="/contact"><i class="fas fa-at"></i> Contact</a>
          </li>
                  
        </ul>
       
      </div>
    </div>
  </nav>