<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="px-3">
  <h1>Hello, I'm  Jose Uribe
    <br>
     Back-end developer
  </h1>
  <p class="lead">About me.</p>
  <img  src="https://media-exp2.licdn.com/dms/image/C5603AQHAIcRp-ABeIA/profile-displayphoto-shrink_400_400/0/1574054767290?e=1660780800&v=beta&t=EImchoOtNiesGU0tsM6zmwXm6CSoI5iJoURO9BcTz84" alt="..." class="img-circle" width="150" height="150" >
  <p class="lead"><i class="fas fa-graduation-cap"></i>Electronics Engineer </p>
  <p class="lead"><i class="fas fa-map"></i> Toronto, Canada</p>
    <p class="lead"><i class="fas fa-school"></i> Currently studying Software Engineering Technology at Centennial College, Toronto</p>
  <a class="lead" aria-current="page" href="https://www.linkedin.com/in/jhovannyuribe/" target="_blank"><i class="fab fa-linkedin"></i> Add me to LinkedIn</a>
  <a class="lead" aria-current="page" href="https://github.com/jjuribe" target="_blank"><i class="fab fa-github"></i> My Repos</a>
  <a class="lead" aria-current="page" href="https://stackoverflow.com/users/5705804/jhovanny-uribe" target="_blank"><i class="fab fa-stack-overflow"></i>  Stackoverflow</a>
  <a class="lead" aria-current="page" href="mailto:juribeco@my.centennialcollege.ca" target="_blank"><i class="fas fa-at"></i>  E-mail</a>  
  <p class="lead">
  <a class="fas fa-file-pdf" href="https://my.indeed.com/p/joseju-lpgniwe/pdf" role="button">Download resume Pdf</a>
    
    
  </p>
</main>
    
   
    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>
