<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="px-3">
    <h3>If you want to contact me please use the next channels 
        <br>
        (LinkedIn, Github, Stackoverflow, E-mail) </h3>
    <br>
    <dl>
        <dt>Name</dt>
        <dd>- Jose</dd>
        <dt>Last Name</dt>
        <dd>- Uribe</dd>
        <dt>E-mail</dt>
        <dd>- juribeco(at)my.centennialcollege.ca</dd>
    </dl>

    <a class="lead" aria-current="page" href="https://www.linkedin.com/in/jhovannyuribe/" target="_blank"><i class="fab fa-linkedin"></i> Add me to LinkedIn</a>
    <a class="lead" aria-current="page" href="https://github.com/jjuribe" target="_blank"><i class="fab fa-github"></i> My Repos</a>
    <a class="lead" aria-current="page" href="https://stackoverflow.com/users/5705804/jhovanny-uribe" target="_blank"><i class="fab fa-stack-overflow"></i>  Stackoverflow</a>
    <a class="lead" aria-current="page" href="mailto:juribeco@my.centennialcollege.ca" target="_blank"><i class="fas fa-at"></i>  E-mail</a>  
    <p class="lead"></p>
</main>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
