<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="px-3">
  <h1>This is Jose's Uribe Portfolio site.</h1>
  <p class="lead">This site has been build using Express + Node.js + EJS.</p>
  <p class="lead">This is an assignment  of COMP229 Web Application Development</p>
  <p class="lead">
    <a class="btn btn-primary" href="/aboutme" role="button">About Jose Uribe</a>
    
    
  </p>
</main>
    
   
    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>
