<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="px-3">
  <h1>Services .</h1>
  <p class="lead">C++ Development.</p>
  <p class="lead">C# Development</p>
  <p class="lead">Java Development</p>
  <p class="lead"></p>
  <p class="lead">
    <a class="btn btn-primary" href="/contact" role="button">Contact me</a>
    
    
  </p>
</main>
    
   
    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>
